/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2015, 3:17:54 PM
    Author     : matson
*/

body {
  padding-top: 50px;
}

.template {
  padding: 40px 15px;
}

#editor { 
    position: absolute;
    top: 140px;
    right: 40px;
    bottom: 40px;
    left: 40px;
}